/* MatrixBackground.css */
.matrix-background {
    position: fixed; /* Stays in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure it's behind other elements */
    background-color: black;
  }
  